In [1]:
import pandas as pd

In [2]:
# (1) 변수(필드)추출
df1 = pd.read_excel('data/20200426_excel_test.xlsx', sheet_name=0)
print(df1)

     자치구     세대수     인구수   남자인구수   여자인구수
0    종로구   73668  164640   80173   84467
1     중구   60130  134174   66064   68110
2    용산구  107090  243922  119056  124866
3    성동구  132415  312933  154253  158680
4    광진구  160085  372414  180737  191677
5   동대문구  160029  367769  182000  185769
6    중랑구  179002  414554  206011  208543
7    성북구  187822  458261  222474  235787
8    강북구  142165  329042  160842  168200
9    도봉구  137269  347338  170134  177204
10   노원구  218469  562278  273212  289066
11   은평구  202391  491899  238733  253166
12  서대문구  137509  326479  156070  170409
13   마포구  169626  387776  184480  203296
14   양천구  176811  476627  235246  241381
15   강서구  252683  607877  296157  311720
16   구로구  171861  443288  222088  221200
17   금천구  105862  253646  129741  123905
18  영등포구  166733  401908  202137  199771
19   동작구  173474  410703  199978  210725
20   관악구  254964  522849  263162  259687
21   서초구  173885  447177  214389  232788
22   강남구  233583  565731  271093  294638
23   송파구  262611  668366  325253  343113
24   강동구  178864  446760  221954  224806

In [3]:
print(df1.columns)

Index(['자치구', '세대수', '인구수', '남자인구수', '여자인구수'], dtype='object')

In [4]:
print(df1.values)

[['종로구' 73668 164640 80173 84467]
 ['중구' 60130 134174 66064 68110]
 ['용산구' 107090 243922 119056 124866]
 ['성동구' 132415 312933 154253 158680]
 ['광진구' 160085 372414 180737 191677]
 ['동대문구' 160029 367769 182000 185769]
 ['중랑구' 179002 414554 206011 208543]
 ['성북구' 187822 458261 222474 235787]
 ['강북구' 142165 329042 160842 168200]
 ['도봉구' 137269 347338 170134 177204]
 ['노원구' 218469 562278 273212 289066]
 ['은평구' 202391 491899 238733 253166]
 ['서대문구' 137509 326479 156070 170409]
 ['마포구' 169626 387776 184480 203296]
 ['양천구' 176811 476627 235246 241381]
 ['강서구' 252683 607877 296157 311720]
 ['구로구' 171861 443288 222088 221200]
 ['금천구' 105862 253646 129741 123905]
 ['영등포구' 166733 401908 202137 199771]
 ['동작구' 173474 410703 199978 210725]
 ['관악구' 254964 522849 263162 259687]
 ['서초구' 173885 447177 214389 232788]
 ['강남구' 233583 565731 271093 294638]
 ['송파구' 262611 668366 325253 343113]
 ['강동구' 178864 446760 221954 224806]]

In [5]:
print(df1['자치구'])

0      종로구
1       중구
2      용산구
3      성동구
4      광진구
5     동대문구
6      중랑구
7      성북구
8      강북구
9      도봉구
10     노원구
11     은평구
12    서대문구
13     마포구
14     양천구
15     강서구
16     구로구
17     금천구
18    영등포구
19     동작구
20     관악구
21     서초구
22     강남구
23     송파구
24     강동구
Name: 자치구, dtype: object

In [6]:
print(df1[['자치구', '인구수']])

     자치구     인구수
0    종로구  164640
1     중구  134174
2    용산구  243922
3    성동구  312933
4    광진구  372414
5   동대문구  367769
6    중랑구  414554
7    성북구  458261
8    강북구  329042
9    도봉구  347338
10   노원구  562278
11   은평구  491899
12  서대문구  326479
13   마포구  387776
14   양천구  476627
15   강서구  607877
16   구로구  443288
17   금천구  253646
18  영등포구  401908
19   동작구  410703
20   관악구  522849
21   서초구  447177
22   강남구  565731
23   송파구  668366
24   강동구  446760

In [7]:
print(df1.loc[:, :])

     자치구     세대수     인구수   남자인구수   여자인구수
0    종로구   73668  164640   80173   84467
1     중구   60130  134174   66064   68110
2    용산구  107090  243922  119056  124866
3    성동구  132415  312933  154253  158680
4    광진구  160085  372414  180737  191677
5   동대문구  160029  367769  182000  185769
6    중랑구  179002  414554  206011  208543
7    성북구  187822  458261  222474  235787
8    강북구  142165  329042  160842  168200
9    도봉구  137269  347338  170134  177204
10   노원구  218469  562278  273212  289066
11   은평구  202391  491899  238733  253166
12  서대문구  137509  326479  156070  170409
13   마포구  169626  387776  184480  203296
14   양천구  176811  476627  235246  241381
15   강서구  252683  607877  296157  311720
16   구로구  171861  443288  222088  221200
17   금천구  105862  253646  129741  123905
18  영등포구  166733  401908  202137  199771
19   동작구  173474  410703  199978  210725
20   관악구  254964  522849  263162  259687
21   서초구  173885  447177  214389  232788
22   강남구  233583  565731  271093  294638
23   송파구  262611  668366  325253  343113
24   강동구  178864  446760  221954  224806

In [8]:
print(df1.loc[:, '자치구'])

0      종로구
1       중구
2      용산구
3      성동구
4      광진구
5     동대문구
6      중랑구
7      성북구
8      강북구
9      도봉구
10     노원구
11     은평구
12    서대문구
13     마포구
14     양천구
15     강서구
16     구로구
17     금천구
18    영등포구
19     동작구
20     관악구
21     서초구
22     강남구
23     송파구
24     강동구
Name: 자치구, dtype: object

In [9]:
print(df1.loc[:, ['자치구', '인구수']])

     자치구     인구수
0    종로구  164640
1     중구  134174
2    용산구  243922
3    성동구  312933
4    광진구  372414
5   동대문구  367769
6    중랑구  414554
7    성북구  458261
8    강북구  329042
9    도봉구  347338
10   노원구  562278
11   은평구  491899
12  서대문구  326479
13   마포구  387776
14   양천구  476627
15   강서구  607877
16   구로구  443288
17   금천구  253646
18  영등포구  401908
19   동작구  410703
20   관악구  522849
21   서초구  447177
22   강남구  565731
23   송파구  668366
24   강동구  446760

In [10]:
print(df1.loc[:, '자치구':'인구수'])

     자치구     세대수     인구수
0    종로구   73668  164640
1     중구   60130  134174
2    용산구  107090  243922
3    성동구  132415  312933
4    광진구  160085  372414
5   동대문구  160029  367769
6    중랑구  179002  414554
7    성북구  187822  458261
8    강북구  142165  329042
9    도봉구  137269  347338
10   노원구  218469  562278
11   은평구  202391  491899
12  서대문구  137509  326479
13   마포구  169626  387776
14   양천구  176811  476627
15   강서구  252683  607877
16   구로구  171861  443288
17   금천구  105862  253646
18  영등포구  166733  401908
19   동작구  173474  410703
20   관악구  254964  522849
21   서초구  173885  447177
22   강남구  233583  565731
23   송파구  262611  668366
24   강동구  178864  446760

In [11]:
print(df1.iloc[:, :])

     자치구     세대수     인구수   남자인구수   여자인구수
0    종로구   73668  164640   80173   84467
1     중구   60130  134174   66064   68110
2    용산구  107090  243922  119056  124866
3    성동구  132415  312933  154253  158680
4    광진구  160085  372414  180737  191677
5   동대문구  160029  367769  182000  185769
6    중랑구  179002  414554  206011  208543
7    성북구  187822  458261  222474  235787
8    강북구  142165  329042  160842  168200
9    도봉구  137269  347338  170134  177204
10   노원구  218469  562278  273212  289066
11   은평구  202391  491899  238733  253166
12  서대문구  137509  326479  156070  170409
13   마포구  169626  387776  184480  203296
14   양천구  176811  476627  235246  241381
15   강서구  252683  607877  296157  311720
16   구로구  171861  443288  222088  221200
17   금천구  105862  253646  129741  123905
18  영등포구  166733  401908  202137  199771
19   동작구  173474  410703  199978  210725
20   관악구  254964  522849  263162  259687
21   서초구  173885  447177  214389  232788
22   강남구  233583  565731  271093  294638
23   송파구  262611  668366  325253  343113
24   강동구  178864  446760  221954  224806

In [12]:
print(df1.iloc[:, 0])

0      종로구
1       중구
2      용산구
3      성동구
4      광진구
5     동대문구
6      중랑구
7      성북구
8      강북구
9      도봉구
10     노원구
11     은평구
12    서대문구
13     마포구
14     양천구
15     강서구
16     구로구
17     금천구
18    영등포구
19     동작구
20     관악구
21     서초구
22     강남구
23     송파구
24     강동구
Name: 자치구, dtype: object

In [13]:
print(df1.iloc[:, 0:2])

     자치구     세대수
0    종로구   73668
1     중구   60130
2    용산구  107090
3    성동구  132415
4    광진구  160085
5   동대문구  160029
6    중랑구  179002
7    성북구  187822
8    강북구  142165
9    도봉구  137269
10   노원구  218469
11   은평구  202391
12  서대문구  137509
13   마포구  169626
14   양천구  176811
15   강서구  252683
16   구로구  171861
17   금천구  105862
18  영등포구  166733
19   동작구  173474
20   관악구  254964
21   서초구  173885
22   강남구  233583
23   송파구  262611
24   강동구  178864

In [14]:
print(df1.iloc[:, [0, 2]])

     자치구     인구수
0    종로구  164640
1     중구  134174
2    용산구  243922
3    성동구  312933
4    광진구  372414
5   동대문구  367769
6    중랑구  414554
7    성북구  458261
8    강북구  329042
9    도봉구  347338
10   노원구  562278
11   은평구  491899
12  서대문구  326479
13   마포구  387776
14   양천구  476627
15   강서구  607877
16   구로구  443288
17   금천구  253646
18  영등포구  401908
19   동작구  410703
20   관악구  522849
21   서초구  447177
22   강남구  565731
23   송파구  668366
24   강동구  446760

In [15]:
# (2)값 1개 추출
print(df1)

     자치구     세대수     인구수   남자인구수   여자인구수
0    종로구   73668  164640   80173   84467
1     중구   60130  134174   66064   68110
2    용산구  107090  243922  119056  124866
3    성동구  132415  312933  154253  158680
4    광진구  160085  372414  180737  191677
5   동대문구  160029  367769  182000  185769
6    중랑구  179002  414554  206011  208543
7    성북구  187822  458261  222474  235787
8    강북구  142165  329042  160842  168200
9    도봉구  137269  347338  170134  177204
10   노원구  218469  562278  273212  289066
11   은평구  202391  491899  238733  253166
12  서대문구  137509  326479  156070  170409
13   마포구  169626  387776  184480  203296
14   양천구  176811  476627  235246  241381
15   강서구  252683  607877  296157  311720
16   구로구  171861  443288  222088  221200
17   금천구  105862  253646  129741  123905
18  영등포구  166733  401908  202137  199771
19   동작구  173474  410703  199978  210725
20   관악구  254964  522849  263162  259687
21   서초구  173885  447177  214389  232788
22   강남구  233583  565731  271093  294638
23   송파구  262611  668366  325253  343113
24   강동구  178864  446760  221954  224806

In [16]:
print(df1.at[5, '인구수'])

367769

In [17]:
df1_1 = df1.set_index('자치구')
print(df1_1)

         세대수     인구수   남자인구수   여자인구수
자치구
종로구    73668  164640   80173   84467
중구     60130  134174   66064   68110
용산구   107090  243922  119056  124866
성동구   132415  312933  154253  158680
광진구   160085  372414  180737  191677
동대문구  160029  367769  182000  185769
중랑구   179002  414554  206011  208543
성북구   187822  458261  222474  235787
강북구   142165  329042  160842  168200
도봉구   137269  347338  170134  177204
노원구   218469  562278  273212  289066
은평구   202391  491899  238733  253166
서대문구  137509  326479  156070  170409
마포구   169626  387776  184480  203296
양천구   176811  476627  235246  241381
강서구   252683  607877  296157  311720
구로구   171861  443288  222088  221200
금천구   105862  253646  129741  123905
영등포구  166733  401908  202137  199771
동작구   173474  410703  199978  210725
관악구   254964  522849  263162  259687
서초구   173885  447177  214389  232788
강남구   233583  565731  271093  294638
송파구   262611  668366  325253  343113
강동구   178864  446760  221954  224806

In [18]:
print(df1_1.at['동대문구', '인구수'])

367769

In [19]:
df1_1 = df1_1.reset_index()
print(df1_1)

     자치구     세대수     인구수   남자인구수   여자인구수
0    종로구   73668  164640   80173   84467
1     중구   60130  134174   66064   68110
2    용산구  107090  243922  119056  124866
3    성동구  132415  312933  154253  158680
4    광진구  160085  372414  180737  191677
5   동대문구  160029  367769  182000  185769
6    중랑구  179002  414554  206011  208543
7    성북구  187822  458261  222474  235787
8    강북구  142165  329042  160842  168200
9    도봉구  137269  347338  170134  177204
10   노원구  218469  562278  273212  289066
11   은평구  202391  491899  238733  253166
12  서대문구  137509  326479  156070  170409
13   마포구  169626  387776  184480  203296
14   양천구  176811  476627  235246  241381
15   강서구  252683  607877  296157  311720
16   구로구  171861  443288  222088  221200
17   금천구  105862  253646  129741  123905
18  영등포구  166733  401908  202137  199771
19   동작구  173474  410703  199978  210725
20   관악구  254964  522849  263162  259687
21   서초구  173885  447177  214389  232788
22   강남구  233583  565731  271093  294638
23   송파구  262611  668366  325253  343113
24   강동구  178864  446760  221954  224806

In [20]:
# (3) 인덱스 지정과 복귀

df_oz = pd.read_csv('data/ozone_data.csv', encoding="cp949")
print(df_oz.columns)

Index(['지점', '일시', '평균오존전량(DU)'], dtype='object')

In [21]:
df_oz1 = df_oz[['일시', '평균오존전량(DU)']]
df_oz1 = df_oz1.set_index('일시')
print(df_oz1)

         평균오존전량(DU)
일시
2013-02         322
2013-03         340
2013-04         329
2013-05         347
2013-06         325
2013-07         299
2013-08         301
2013-09         300
2013-10         279
2013-11         307
2013-12         331
2014-01         327
2014-02         348
2014-03         361
2014-04         344
2014-05         346
2014-06         338
2014-07         305
2014-08         297
2014-09         293
2014-10         283
2014-11         294
2014-12         333
2015-01         329
2015-02         379
2015-03         381
2015-04         361
2015-05         342
2015-06         339
2015-07         308
2015-08         304

In [22]:
df_oz1 = df_oz1.reset_index()
print(df_oz1)

         일시  평균오존전량(DU)
0   2013-02         322
1   2013-03         340
2   2013-04         329
3   2013-05         347
4   2013-06         325
5   2013-07         299
6   2013-08         301
7   2013-09         300
8   2013-10         279
9   2013-11         307
10  2013-12         331
11  2014-01         327
12  2014-02         348
13  2014-03         361
14  2014-04         344
15  2014-05         346
16  2014-06         338
17  2014-07         305
18  2014-08         297
19  2014-09         293
20  2014-10         283
21  2014-11         294
22  2014-12         333
23  2015-01         329
24  2015-02         379
25  2015-03         381
26  2015-04         361
27  2015-05         342
28  2015-06         339
29  2015-07         308
30  2015-08         304

In [23]:
# (4)새 필드 추가 : 파생변수 생성
df1_pop = df1
print(df1_pop.head())

   자치구     세대수     인구수   남자인구수   여자인구수
0  종로구   73668  164640   80173   84467
1   중구   60130  134174   66064   68110
2  용산구  107090  243922  119056  124866
3  성동구  132415  312933  154253  158680
4  광진구  160085  372414  180737  191677

In [24]:
df1_pop['세대당인구수'] = df1_pop['인구수'] / df1_pop['세대수']
print(df1_pop.head())

   자치구     세대수     인구수   남자인구수   여자인구수    세대당인구수
0  종로구   73668  164640   80173   84467  2.234892
1   중구   60130  134174   66064   68110  2.231399
2  용산구  107090  243922  119056  124866  2.277729
3  성동구  132415  312933  154253  158680  2.363275
4  광진구  160085  372414  180737  191677  2.326352

In [25]:
df1_pop['여자인구수_대비_남자인구수비율'] = df1_pop['남자인구수'] / df1_pop['여자인구수']
print(df1_pop.head())

   자치구     세대수     인구수   남자인구수   여자인구수    세대당인구수  여자인구수_대비_남자인구수비율
0  종로구   73668  164640   80173   84467  2.234892          0.949164
1   중구   60130  134174   66064   68110  2.231399          0.969960
2  용산구  107090  243922  119056  124866  2.277729          0.953470
3  성동구  132415  312933  154253  158680  2.363275          0.972101
4  광진구  160085  372414  180737  191677  2.326352          0.942925

In [26]:
# (5) 필터링 - 데이터추출
df_ol = pd.read_excel('data/20180217_2017년서울시구별노령화지수.xlsx')
print(df_ol)

      기간   자치구  유년부양비  노년부양비  노령화지수
0   2017   서울시   14.9   17.9  120.1
1   2017   종로구   12.0   21.2  176.7
2   2017    중구   11.8   21.1  178.6
3   2017   용산구   13.8   20.2  146.1
4   2017   성동구   14.4   17.4  120.9
5   2017   광진구   13.2   15.2  114.7
6   2017  동대문구   13.2   20.3  154.2
7   2017   중랑구   13.5   19.0  141.0
8   2017   성북구   15.7   19.7  125.5
9   2017   강북구   13.3   23.6  177.3
10  2017   도봉구   14.5   20.9  144.6
11  2017   노원구   16.5   17.9  108.5
12  2017   은평구   15.3   20.6  134.8
13  2017  서대문구   14.0   20.4  145.7
14  2017   마포구   15.1   17.0  112.5
15  2017   양천구   17.4   15.5   88.6
16  2017   강서구   15.8   16.5  104.7
17  2017   구로구   15.6   17.8  114.1
18  2017   금천구   12.6   17.5  139.3
19  2017  영등포구   13.7   17.6  128.4
20  2017   동작구   14.2   18.6  130.9
21  2017   관악구   11.2   17.3  154.5
22  2017   서초구   19.0   16.1   85.1
23  2017   강남구   16.1   15.2   94.5
24  2017   송파구   16.7   15.0   89.9
25  2017   강동구   15.7   16.9  107.7

In [27]:
df_ol2 = df_ol.iloc[1:, 1:]
print(df_ol2)

     자치구  유년부양비  노년부양비  노령화지수
1    종로구   12.0   21.2  176.7
2     중구   11.8   21.1  178.6
3    용산구   13.8   20.2  146.1
4    성동구   14.4   17.4  120.9
5    광진구   13.2   15.2  114.7
6   동대문구   13.2   20.3  154.2
7    중랑구   13.5   19.0  141.0
8    성북구   15.7   19.7  125.5
9    강북구   13.3   23.6  177.3
10   도봉구   14.5   20.9  144.6
11   노원구   16.5   17.9  108.5
12   은평구   15.3   20.6  134.8
13  서대문구   14.0   20.4  145.7
14   마포구   15.1   17.0  112.5
15   양천구   17.4   15.5   88.6
16   강서구   15.8   16.5  104.7
17   구로구   15.6   17.8  114.1
18   금천구   12.6   17.5  139.3
19  영등포구   13.7   17.6  128.4
20   동작구   14.2   18.6  130.9
21   관악구   11.2   17.3  154.5
22   서초구   19.0   16.1   85.1
23   강남구   16.1   15.2   94.5
24   송파구   16.7   15.0   89.9
25   강동구   15.7   16.9  107.7

In [28]:
print(df_ol2[df_ol2['노령화지수'] < 100])

    자치구  유년부양비  노년부양비  노령화지수
15  양천구   17.4   15.5   88.6
22  서초구   19.0   16.1   85.1
23  강남구   16.1   15.2   94.5
24  송파구   16.7   15.0   89.9

In [29]:
print(df_ol2[df_ol2['노령화지수'] >= 150])

     자치구  유년부양비  노년부양비  노령화지수
1    종로구   12.0   21.2  176.7
2     중구   11.8   21.1  178.6
6   동대문구   13.2   20.3  154.2
9    강북구   13.3   23.6  177.3
21   관악구   11.2   17.3  154.5

In [30]:
df_ol_new = pd.read_excel('data/20191006_2018_서울시_자치구별_노령화지수.xlsx')
print(df_ol_new)

      구분     합계     남자     여자
0     합계  124.4  107.0  142.8
1    종로구  170.2  143.3  198.5
2     중구  180.7  151.9  210.3
3    용산구  144.9  119.3  171.9
4    성동구  123.7  105.9  142.2
5    광진구  121.2  105.7  137.5
6   동대문구  156.2  134.0  179.8
7    중랑구  144.8  125.8  164.6
8    성북구  127.7  107.8  148.6
9    강북구  182.2  152.5  213.5
10   도봉구  150.5  129.4  173.2
11   노원구  112.2   91.8  133.7
12   은평구  137.4  115.6  160.8
13  서대문구  145.4  121.4  170.2
14   마포구  112.2   92.5  132.8
15   양천구   92.8   80.0  106.6
16   강서구  109.2   95.1  123.9
17   구로구  125.4  113.6  137.7
18   금천구  153.3  136.2  171.1
19  영등포구  140.0  122.4  158.9
20   동작구  135.3  114.4  157.7
21   관악구  160.9  140.3  182.6
22   서초구   87.6   77.8   98.0
23   강남구   98.9   86.1  112.8
24   송파구   93.3   83.9  103.3
25   강동구  113.1   99.5  128.0

In [31]:
df_ol_new2 = df_ol_new.iloc[1:, :]
print(df_ol_new2)

      구분     합계     남자     여자
1    종로구  170.2  143.3  198.5
2     중구  180.7  151.9  210.3
3    용산구  144.9  119.3  171.9
4    성동구  123.7  105.9  142.2
5    광진구  121.2  105.7  137.5
6   동대문구  156.2  134.0  179.8
7    중랑구  144.8  125.8  164.6
8    성북구  127.7  107.8  148.6
9    강북구  182.2  152.5  213.5
10   도봉구  150.5  129.4  173.2
11   노원구  112.2   91.8  133.7
12   은평구  137.4  115.6  160.8
13  서대문구  145.4  121.4  170.2
14   마포구  112.2   92.5  132.8
15   양천구   92.8   80.0  106.6
16   강서구  109.2   95.1  123.9
17   구로구  125.4  113.6  137.7
18   금천구  153.3  136.2  171.1
19  영등포구  140.0  122.4  158.9
20   동작구  135.3  114.4  157.7
21   관악구  160.9  140.3  182.6
22   서초구   87.6   77.8   98.0
23   강남구   98.9   86.1  112.8
24   송파구   93.3   83.9  103.3
25   강동구  113.1   99.5  128.0

In [32]:
# (6) 조인 - 변수 결합
df_ol_joined = df_ol2.set_index('자치구').join(df_ol_new2.set_index('구분'))
print(df_ol_joined)

      유년부양비  노년부양비  노령화지수     합계     남자     여자
자치구
종로구    12.0   21.2  176.7  170.2  143.3  198.5
중구     11.8   21.1  178.6  180.7  151.9  210.3
용산구    13.8   20.2  146.1  144.9  119.3  171.9
성동구    14.4   17.4  120.9  123.7  105.9  142.2
광진구    13.2   15.2  114.7  121.2  105.7  137.5
동대문구   13.2   20.3  154.2  156.2  134.0  179.8
중랑구    13.5   19.0  141.0  144.8  125.8  164.6
성북구    15.7   19.7  125.5  127.7  107.8  148.6
강북구    13.3   23.6  177.3  182.2  152.5  213.5
도봉구    14.5   20.9  144.6  150.5  129.4  173.2
노원구    16.5   17.9  108.5  112.2   91.8  133.7
은평구    15.3   20.6  134.8  137.4  115.6  160.8
서대문구   14.0   20.4  145.7  145.4  121.4  170.2
마포구    15.1   17.0  112.5  112.2   92.5  132.8
양천구    17.4   15.5   88.6   92.8   80.0  106.6
강서구    15.8   16.5  104.7  109.2   95.1  123.9
구로구    15.6   17.8  114.1  125.4  113.6  137.7
금천구    12.6   17.5  139.3  153.3  136.2  171.1
영등포구   13.7   17.6  128.4  140.0  122.4  158.9
동작구    14.2   18.6  130.9  135.3  114.4  157.7
관악구    11.2   17.3  154.5  160.9  140.3  182.6
서초구    19.0   16.1   85.1   87.6   77.8   98.0
강남구    16.1   15.2   94.5   98.9   86.1  112.8
송파구    16.7   15.0   89.9   93.3   83.9  103.3
강동구    15.7   16.9  107.7  113.1   99.5  128.0

In [33]:
df_ol_joined.reset_index(inplace=True)
print(df_ol_joined)

     자치구  유년부양비  노년부양비  노령화지수     합계     남자     여자
0    종로구   12.0   21.2  176.7  170.2  143.3  198.5
1     중구   11.8   21.1  178.6  180.7  151.9  210.3
2    용산구   13.8   20.2  146.1  144.9  119.3  171.9
3    성동구   14.4   17.4  120.9  123.7  105.9  142.2
4    광진구   13.2   15.2  114.7  121.2  105.7  137.5
5   동대문구   13.2   20.3  154.2  156.2  134.0  179.8
6    중랑구   13.5   19.0  141.0  144.8  125.8  164.6
7    성북구   15.7   19.7  125.5  127.7  107.8  148.6
8    강북구   13.3   23.6  177.3  182.2  152.5  213.5
9    도봉구   14.5   20.9  144.6  150.5  129.4  173.2
10   노원구   16.5   17.9  108.5  112.2   91.8  133.7
11   은평구   15.3   20.6  134.8  137.4  115.6  160.8
12  서대문구   14.0   20.4  145.7  145.4  121.4  170.2
13   마포구   15.1   17.0  112.5  112.2   92.5  132.8
14   양천구   17.4   15.5   88.6   92.8   80.0  106.6
15   강서구   15.8   16.5  104.7  109.2   95.1  123.9
16   구로구   15.6   17.8  114.1  125.4  113.6  137.7
17   금천구   12.6   17.5  139.3  153.3  136.2  171.1
18  영등포구   13.7   17.6  128.4  140.0  122.4  158.9
19   동작구   14.2   18.6  130.9  135.3  114.4  157.7
20   관악구   11.2   17.3  154.5  160.9  140.3  182.6
21   서초구   19.0   16.1   85.1   87.6   77.8   98.0
22   강남구   16.1   15.2   94.5   98.9   86.1  112.8
23   송파구   16.7   15.0   89.9   93.3   83.9  103.3
24   강동구   15.7   16.9  107.7  113.1   99.5  128.0

In [34]:
# (7) 변수명 변경 : rename()
df_ol_joined.rename(
        columns={'합계': '노령화지수_2018평균', '남자': '남자노령화지수_2018',
                 '여자': '여자노령화지수_2018'}, inplace=True)
print(df_ol_joined)

     자치구  유년부양비  노년부양비  노령화지수  노령화지수_2018평균  남자노령화지수_2018  여자노령화지수_2018
0    종로구   12.0   21.2  176.7         170.2         143.3         198.5
1     중구   11.8   21.1  178.6         180.7         151.9         210.3
2    용산구   13.8   20.2  146.1         144.9         119.3         171.9
3    성동구   14.4   17.4  120.9         123.7         105.9         142.2
4    광진구   13.2   15.2  114.7         121.2         105.7         137.5
5   동대문구   13.2   20.3  154.2         156.2         134.0         179.8
6    중랑구   13.5   19.0  141.0         144.8         125.8         164.6
7    성북구   15.7   19.7  125.5         127.7         107.8         148.6
8    강북구   13.3   23.6  177.3         182.2         152.5         213.5
9    도봉구   14.5   20.9  144.6         150.5         129.4         173.2
10   노원구   16.5   17.9  108.5         112.2          91.8         133.7
11   은평구   15.3   20.6  134.8         137.4         115.6         160.8
12  서대문구   14.0   20.4  145.7         145.4         121.4         170.2
13   마포구   15.1   17.0  112.5         112.2          92.5         132.8
14   양천구   17.4   15.5   88.6          92.8          80.0         106.6
15   강서구   15.8   16.5  104.7         109.2          95.1         123.9
16   구로구   15.6   17.8  114.1         125.4         113.6         137.7
17   금천구   12.6   17.5  139.3         153.3         136.2         171.1
18  영등포구   13.7   17.6  128.4         140.0         122.4         158.9
19   동작구   14.2   18.6  130.9         135.3         114.4         157.7
20   관악구   11.2   17.3  154.5         160.9         140.3         182.6
21   서초구   19.0   16.1   85.1          87.6          77.8          98.0
22   강남구   16.1   15.2   94.5          98.9          86.1         112.8
23   송파구   16.7   15.0   89.9          93.3          83.9         103.3
24   강동구   15.7   16.9  107.7         113.1          99.5         128.0

In [35]:
# (8) 바인딩: append()함수, concat()함수
df_subway2 = pd.read_csv("data/20200423_202002_서울지하철승하차인원수.csv",
                         encoding='cp949', engine="python")
print(df_subway2.shape)

(17118, 5)

In [36]:
df_subway3 = pd.read_csv("data/20200423_202003_서울지하철승하차인원수.csv",
                         encoding='cp949', engine="python")
print(df_subway3.shape)

(18265, 5)

In [37]:
# append()함수
df_subway_new = df_subway2.append(df_subway3, ignore_index=True)
print(df_subway_new.shape)

(35383, 5)

In [38]:
# concat()함수 - 데이터 결합
df_subway_new2 = pd.concat([df_subway2, df_subway3], ignore_index=True)
print(df_subway_new2.shape)

(35383, 5)

In [39]:
# concat()함수 - 변수 결합
df_subway_joined2 = pd.concat([df_ol2, df_ol_new2], axis=1, join='inner')
print(df_subway_joined2)

     자치구  유년부양비  노년부양비  노령화지수    구분     합계     남자     여자
1    종로구   12.0   21.2  176.7   종로구  170.2  143.3  198.5
2     중구   11.8   21.1  178.6    중구  180.7  151.9  210.3
3    용산구   13.8   20.2  146.1   용산구  144.9  119.3  171.9
4    성동구   14.4   17.4  120.9   성동구  123.7  105.9  142.2
5    광진구   13.2   15.2  114.7   광진구  121.2  105.7  137.5
6   동대문구   13.2   20.3  154.2  동대문구  156.2  134.0  179.8
7    중랑구   13.5   19.0  141.0   중랑구  144.8  125.8  164.6
8    성북구   15.7   19.7  125.5   성북구  127.7  107.8  148.6
9    강북구   13.3   23.6  177.3   강북구  182.2  152.5  213.5
10   도봉구   14.5   20.9  144.6   도봉구  150.5  129.4  173.2
11   노원구   16.5   17.9  108.5   노원구  112.2   91.8  133.7
12   은평구   15.3   20.6  134.8   은평구  137.4  115.6  160.8
13  서대문구   14.0   20.4  145.7  서대문구  145.4  121.4  170.2
14   마포구   15.1   17.0  112.5   마포구  112.2   92.5  132.8
15   양천구   17.4   15.5   88.6   양천구   92.8   80.0  106.6
16   강서구   15.8   16.5  104.7   강서구  109.2   95.1  123.9
17   구로구   15.6   17.8  114.1   구로구  125.4  113.6  137.7
18   금천구   12.6   17.5  139.3   금천구  153.3  136.2  171.1
19  영등포구   13.7   17.6  128.4  영등포구  140.0  122.4  158.9
20   동작구   14.2   18.6  130.9   동작구  135.3  114.4  157.7
21   관악구   11.2   17.3  154.5   관악구  160.9  140.3  182.6
22   서초구   19.0   16.1   85.1   서초구   87.6   77.8   98.0
23   강남구   16.1   15.2   94.5   강남구   98.9   86.1  112.8
24   송파구   16.7   15.0   89.9   송파구   93.3   83.9  103.3
25   강동구   15.7   16.9  107.7   강동구  113.1   99.5  128.0

In [40]:
print(df_subway2['노선명'].value_counts())

5호선         1479
7호선         1479
2호선         1450
경부선         1131
6호선         1089
분당선          997
3호선          976
경원선          851
4호선          754
경의선          735
9호선          725
중앙선          609
경인선          580
경춘선          551
8호선          493
공항철도 1호선     406
9호선2~3단계     377
우이신설선        377
수인선          377
안산선          377
경강선          319
일산선          290
1호선          290
과천선          232
장항선          174
Name: 노선명, dtype: int64

In [41]:
print(df_subway2.노선명.value_counts())
# pd.crosstab(df_subway2['노선명'], df_subway2['역명'])

5호선         1479
7호선         1479
2호선         1450
경부선         1131
6호선         1089
분당선          997
3호선          976
경원선          851
4호선          754
경의선          735
9호선          725
중앙선          609
경인선          580
경춘선          551
8호선          493
공항철도 1호선     406
9호선2~3단계     377
우이신설선        377
수인선          377
안산선          377
경강선          319
일산선          290
1호선          290
과천선          232
장항선          174
Name: 노선명, dtype: int64

In [42]:
# 7. pandas 결측치 처리
# (1) NaN을 처리하는 메소드
df = pd.read_csv("data/20200511_ghg.csv", encoding='cp949')

print(df.columns)

Index(['지점', '시간', 'CO2_ppm', 'CH4_ppm', 'N2O_ppm', 'CFC11_ppm', 'CFC12_ppm',
       'CFC113_ppm', 'SF6_ppm'],
      dtype='object')

In [43]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          216 non-null    object
 1   시간          216 non-null    object
 2   CO2_ppm     216 non-null    float64
 3   CH4_ppm     185 non-null    float64
 4   N2O_ppm     150 non-null    float64
 5   CFC11_ppm   201 non-null    float64
 6   CFC12_ppm   200 non-null    float64
 7   CFC113_ppm  112 non-null    float64
 8   SF6_ppm     117 non-null    float64
dtypes: float64(7), object(2)
memory usage: 15.3+ KB
None

In [44]:
print(df["CH4_ppm"].count())

185

In [45]:
print(df["CH4_ppm"].dropna())

3      1869.0
4      1863.0
5      1851.0
6      1844.0
7      1837.0
        ...
211    1920.0
212    1984.0
213    1991.0
214    1991.0
215    1980.0
Name: CH4_ppm, Length: 185, dtype: float64

In [46]:
print(df["CH4_ppm"].fillna(0))

0         0.0
1         0.0
2         0.0
3      1869.0
4      1863.0
        ...
211    1920.0
212    1984.0
213    1991.0
214    1991.0
215    1980.0
Name: CH4_ppm, Length: 216, dtype: float64

In [47]:
print(df["CH4_ppm"].fillna(method='ffill'))

0         NaN
1         NaN
2         NaN
3      1869.0
4      1863.0
        ...
211    1920.0
212    1984.0
213    1991.0
214    1991.0
215    1980.0
Name: CH4_ppm, Length: 216, dtype: float64

In [48]:
print(df["CH4_ppm"].fillna(method='bfill'))

0      1869.0
1      1869.0
2      1869.0
3      1869.0
4      1863.0
        ...
211    1920.0
212    1984.0
213    1991.0
214    1991.0
215    1980.0
Name: CH4_ppm, Length: 216, dtype: float64

In [49]:
print(df["CH4_ppm"].isnull().sum())
print(df["CH4_ppm"].notnull().sum())

31
185

In [50]:
# (2) 결측치 처리
df_air = df[['시간', 'CO2_ppm', 'CH4_ppm']]
print(df_air[df_air['CH4_ppm'].notnull()])

          시간  CO2_ppm  CH4_ppm
3    1999-04    375.1   1869.0
4    1999-05    374.0   1863.0
5    1999-06    370.8   1851.0
6    1999-07    366.6   1844.0
7    1999-08    363.8   1837.0
..       ...      ...      ...
211  2020-08    402.1   1920.0
212  2020-09    404.3   1984.0
213  2020-10    408.8   1991.0
214  2020-11    411.8   1991.0
215  2020-12    413.2   1980.0

[185 rows x 3 columns]

In [51]:
print(df.describe())

          CO2_ppm      CH4_ppm     N2O_ppm   CFC11_ppm   CFC12_ppm  \
count  216.000000   185.000000  150.000000  201.000000  200.000000
mean   389.890278  1898.491892  322.105333  245.946269  529.265000
std     12.308112    40.846228    4.968043   18.654380   15.049292
min    363.800000  1809.000000  312.100000  194.700000  480.100000
25%    379.950000  1868.000000  317.850000  233.000000  520.475000
50%    389.700000  1900.000000  322.850000  246.800000  534.150000
75%    399.325000  1929.000000  325.500000  263.900000  540.100000
max    414.200000  1991.000000  330.600000  270.700000  552.600000

       CFC113_ppm     SF6_ppm
count  112.000000  117.000000
mean    74.983036    8.039316
std      3.553678    1.063822
min     67.800000    6.000000
25%     72.500000    7.200000
50%     74.150000    8.200000
75%     76.700000    8.900000
max     88.500000    9.800000

In [52]:
df_air2 = df.fillna(method='bfill')
print(df_air2.describe())

          CO2_ppm      CH4_ppm     N2O_ppm   CFC11_ppm   CFC12_ppm  \
count  216.000000   216.000000  216.000000  216.000000  216.000000
mean   389.890278  1893.087963  322.316667  246.457870  528.924074
std     12.308112    40.566072    4.356295   18.596377   14.941669
min    363.800000  1809.000000  312.100000  194.700000  480.100000
25%    379.950000  1865.000000  320.975000  233.075000  519.150000
50%    389.700000  1888.000000  321.950000  247.650000  534.050000
75%    399.325000  1920.000000  325.500000  264.425000  540.025000
max    414.200000  1991.000000  330.600000  270.700000  552.600000

       CFC113_ppm     SF6_ppm
count  216.000000  216.000000
mean    75.376852    7.211111
std      2.922092    1.213324
min     67.800000    6.000000
25%     73.875000    6.200000
50%     75.700000    6.400000
75%     75.700000    8.200000
max     88.500000    9.800000

In [53]:
# (3) 이상치 처리
print(df_air2["CO2_ppm"])

0      373.1
1      374.0
2      374.9
3      375.1
4      374.0
       ...
211    402.1
212    404.3
213    408.8
214    411.8
215    413.2
Name: CO2_ppm, Length: 216, dtype: float64

In [54]:
co2_q1 = df_air2["CO2_ppm"].quantile(0.25)
co2_q3 = df_air2["CO2_ppm"].quantile(0.75)

co2_nm_min = co2_q1 - (co2_q3 - co2_q1) * 1.5
co2_nm_max = co2_q3 + (co2_q3 - co2_q1) * 1.5

print(df[df["CO2_ppm"] >= co2_nm_min])

      지점       시간  CO2_ppm  CH4_ppm  N2O_ppm  CFC11_ppm  CFC12_ppm  \
0    안면도  1999-01    373.1      NaN      NaN        NaN        NaN
1    안면도  1999-02    374.0      NaN    315.2      266.9      534.1
2    안면도  1999-03    374.9      NaN    314.6      267.5      535.1
3    안면도  1999-04    375.1   1869.0    314.2      266.7      534.7
4    안면도  1999-05    374.0   1863.0    314.6      268.6      535.1
..   ...      ...      ...      ...      ...        ...        ...
211  안면도  2020-08    402.1   1920.0    330.4      239.9      533.1
212  안면도  2020-09    404.3   1984.0    330.6      236.8      519.7
213  안면도  2020-10    408.8   1991.0    330.1      243.0      534.1
214  안면도  2020-11    411.8   1991.0    329.7      249.1      550.0
215  안면도  2020-12    413.2   1980.0    329.5      243.3      542.4

     CFC113_ppm  SF6_ppm
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN
..          ...      ...
211        73.5      9.2
212        72.3      9.3
213        72.9      NaN
214        74.2      9.4
215        73.6      9.5

[216 rows x 9 columns]

In [55]:
print(df[df["CO2_ppm"] <= co2_nm_max])

      지점       시간  CO2_ppm  CH4_ppm  N2O_ppm  CFC11_ppm  CFC12_ppm  \
0    안면도  1999-01    373.1      NaN      NaN        NaN        NaN
1    안면도  1999-02    374.0      NaN    315.2      266.9      534.1
2    안면도  1999-03    374.9      NaN    314.6      267.5      535.1
3    안면도  1999-04    375.1   1869.0    314.2      266.7      534.7
4    안면도  1999-05    374.0   1863.0    314.6      268.6      535.1
..   ...      ...      ...      ...      ...        ...        ...
211  안면도  2020-08    402.1   1920.0    330.4      239.9      533.1
212  안면도  2020-09    404.3   1984.0    330.6      236.8      519.7
213  안면도  2020-10    408.8   1991.0    330.1      243.0      534.1
214  안면도  2020-11    411.8   1991.0    329.7      249.1      550.0
215  안면도  2020-12    413.2   1980.0    329.5      243.3      542.4

     CFC113_ppm  SF6_ppm
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN
..          ...      ...
211        73.5      9.2
212        72.3      9.3
213        72.9      NaN
214        74.2      9.4
215        73.6      9.5

[216 rows x 9 columns]

In [56]:
print(df[(df["CO2_ppm"] >= co2_nm_min) & (df["CO2_ppm"] <= co2_nm_max)])

      지점       시간  CO2_ppm  CH4_ppm  N2O_ppm  CFC11_ppm  CFC12_ppm  \
0    안면도  1999-01    373.1      NaN      NaN        NaN        NaN
1    안면도  1999-02    374.0      NaN    315.2      266.9      534.1
2    안면도  1999-03    374.9      NaN    314.6      267.5      535.1
3    안면도  1999-04    375.1   1869.0    314.2      266.7      534.7
4    안면도  1999-05    374.0   1863.0    314.6      268.6      535.1
..   ...      ...      ...      ...      ...        ...        ...
211  안면도  2020-08    402.1   1920.0    330.4      239.9      533.1
212  안면도  2020-09    404.3   1984.0    330.6      236.8      519.7
213  안면도  2020-10    408.8   1991.0    330.1      243.0      534.1
214  안면도  2020-11    411.8   1991.0    329.7      249.1      550.0
215  안면도  2020-12    413.2   1980.0    329.5      243.3      542.4

     CFC113_ppm  SF6_ppm
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN
..          ...      ...
211        73.5      9.2
212        72.3      9.3
213        72.9      NaN
214        74.2      9.4
215        73.6      9.5

[216 rows x 9 columns]